:root{
    --body-bg: rgb(204, 204, 204);
    --white: #ffff;
    --darkWhite: #ccc;
    --black: #000;
    --dark: #615c60;
    --themeColor: #22b8d1;
    --pageShadow: 0 0 0.5 rgba(0, 0, 0, 0.5);
}

body{
    background: var(--body-bg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page{
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
}

.page[size="A4"]{
    width: 21cm;
    height: 29.7cm;
    overflow: hidden;
}

.bb{
    border-bottom: 3px solid var(--darkWhite);
}

/* Top Section */
.top-content{
    padding-bottom: 15px;
}

.logo img{
    height: 60px;
}

.top-left p{
    margin: 0;
}

.top-left .graphic-path{
    height: 40px;
    position: relative;
}

.top-left .graphic-path::before{
    content: "";
    height: 20px;
    background-color: var(--dark);
    position: absolute;
    left: 15px;
    right: 0;
    top: -15px;
    z-index: 2;
}

.top-left .graphic-path::after{
    content: "";
    height: 22px;
    width: 17px;
    background-color: var(--black);
    position: absolute;
    top: -13px;
    left: 6px;
    transform: rotate(45deg);
}

.top-left .graphic-path p{
    color: var(--white);
    height: 40px;
    left: 0;
    right: -100px;
    text-transform: uppercase;
    background-color: var(--themeColor);
    font: 26px;
    z-index: 3;
    position: absolute;
    padding-left: 10px;
}

/* user store section */
.store-user{
    padding-bottom: 25px;
}

.store-user p{
    margin: 0;
    font-weight: 600;
}

.store-user .address{
    font-weight: 400;
}

.store-user h2{
    color: var(--themeColor);
}

/* product section */

thead{
    color: var(--white);
    background: var(--themeColor);
}

.table td, .table th{
    text-align: center;
    vertical-align: middle;
}

tr th:first-child,
tr td:first-child{
    text-align: left;
}

.media img{
    height: 60px;
    width: 60px;
}

.media p{
    font-weight: 400;
    margin: 0;
}

.media p.title{
    font-weight: 600;
}

.media div{
    display: inline-block;
}